@import "core/variables";
@import "core/reset";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/hero";
@import "layout/sections";
@import "layout/footer";
@import "pages/index";

:root {
  --fontfamily: "Roboto", sans-serif;
  --titleweight: bold;
  --buttonweight: 500;
  --headerbackground: rgb(2, 113, 188);
  --footerbackground: rgb(48, 66, 104);
  --white: rgb(255, 255, 255);
  --secondsection: rgb(239, 249, 255);
  --lightblue: rgb(140, 203, 234);
  --black: rgb(0, 0, 0);
  --grey: rgb(74, 74, 74);
  --orange: rgb(242, 96, 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: var(--white);
}

/*FOOTER*/

.footer {
  width: 100%;
  height: 465px;
  background-color: var(--footerbackground);
  padding: 0 86px 45px 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: var(--fontfamily);
  font-size: 16px;
  line-height: 1.88;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.footer__button {
  height: 45px;
  width: 45px;
  background-color: var(--white);
  border-radius: 50%;
  background-image: url(../images/ico-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  bottom: 35px;
}
.footer__div--1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 73px;
}
.footer__div--2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__small {
  font-size: 14px;
  line-height: 2.14;
  text-transform: none;
}
.footer__small--copy {
  display: block;
}
.fotter__small--heart {
  color: var(--orange);
}

@media all and (min-width: 768px) {
  .footer {
    height: 240px;
    padding: 45px 39px 45px 39px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
  .footer__button {
    position: absolute;
    left: 46vw;
    bottom: -46vh;
  }
  .footer__div--1 {
    order: 2;
  }
  .footer__div--2 {
    order: 3;
  }
  .footer__small {
    order: 1;
  }
}
@media all and (min-width: 1200px) {
  .footer {
    padding: 45px 370px 45px 370px;
  }
  .footer__button {
    position: absolute;
    bottom: 8vh;
  }
}
